target/
.gradle/
build/
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode/
.idea/
*.iml
.classpath
.project
.settings/
.nbproject/
.env
.editorconfig
Makefile
helm-charts/